<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess tournaments</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="sorttable.js"></script>
</head>

<body>
    <div class="container content">
        <div id='app'>
            <figure class="image">
                <img src="img/logo.jpg" alt="logo">
            </figure>
            <div class="field is-grouped is-grouped-centered">
                    <div class="control" style="width:150px">
                        <multiselect v-model="status" :options="status_options" :multiple=false :close-on-select=true
                            :searchable=false :show-labels=false :allow-empty=false @input="filterSearch">
                        </multiselect>
                    </div>
                    <div class="control" style="width:450px;">
                        <multiselect v-model="type" :options="variant_options" :multiple=true :close-on-select="false"
                            :clear-on-select="false" :preserve-search="true" :searchable="false" :limit="2" placeholder="Variants"
                            :show-labels=false @input="filterSearch">
                        </multiselect>
                    </div>
                <div class="field has-addons">
                    <div class="control">
                        <div class="select" style="width:150px">
                            <multiselect v-model="searchBy" :options="search_options" :multiple=false :close-on-select=true
                                :searchable=false :show-labels=false :allow-empty=false @input="filterSearch">
                            </multiselect>
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <div class="field">
                            <input class="input" type="text" :placeholder="'Search By ' + [[ searchBy ]]" v-model="searchtext" @input="filterSearch()">
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-danger" @click="clearAll" class=right>Reset</button>
                </div>
            </div>

            <table class="sortable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Control</td>
                        <td>Starting in</td>
                        <td>Ending in</td>
                        <td>Type</td>
                        <td>Limited rating</td>
                        <td>Owner</td>
                        <td>Players</td>
                        <td>Position</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="record in filtered">
                        <td><a :href="'https://lichess.org/tournament/' + record.id">{{ record.fullName }}
                            <span v-if='record.schedule'><i>(regular)</i></span>
                            <span v-else></span>
                        </a></td>
                        <td>{{ record.clock.limit / 60}} + {{ record.clock.increment }}</td>
                        <td>{{ Math.round((record.startsAt - new Date().getTime())/1000).toHHMMSS()}}</td>
                        <td>{{ Math.round((record.finishesAt - new Date().getTime())/1000).toHHMMSS()}}</td>
                        <td>{{ record.perf.name }}</td>
                        <td><span v-if="record.hasMaxRating">Yes</span><span v-else>No</span></td>
                        <td>{{ record.createdBy }}</td>
                        <td>{{ record.nbPlayers }}</td>
                        <td><span
                                v-if="record.position">{{ record.position.name + " (" + record.position.eco + ")" }}</span><span
                                v-else>Any</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        // Vue.component('vue-multiselect', window.VueMultiselect.default)
        Number.prototype.toHHMMSS = function () {
            var sec_num = this;
            var days = Math.floor(sec_num / 86400);
            sec_num = sec_num - (days * 86400);
            var hours = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);
            if (hours < 10) { hours = "0" + hours; }
            if (minutes < 10) { minutes = "0" + minutes; }
            if (seconds < 10) { seconds = "0" + seconds; }
            if (days == 0) {
                return hours + ':' + minutes + ':' + seconds;
            }
            else if (days == 1) {
                return days + ' day, ' + hours + ':' + minutes + ':' + seconds;
            }
            else {
                return days + ' days, ' + hours + ':' + minutes + ':' + seconds;
            }
        }
        var app = new Vue({
            el: '#app',
            components: {
                Multiselect: window.VueMultiselect.default
            },
            data: {
                version: '0.2',
                status: 'All',
                type: [],
                created: [],
                started: [],
                finished: [],
                selected: [],
                filtered: [],
                searchBy: 'Name',
                searchtext: '',
                variant_options: ['UltraBullet', 'Bullet', 'Blitz', 'Rapid', 'Classical', 'Crazyhouse', 'Chess960', 'King of the Hill', 'Three-check', 'Antichess', 'Atomic', 'Horde', 'Racing King'],
                status_options: ['All', 'Created', 'Started', 'Finished'],
                search_options: ['Name', 'Owner'],
            },
            methods: {
                filter: function () {
                    switch (this.status) {
                        case 'Created':
                            this.selected = this.created;
                            break;
                        case 'Started':
                            this.selected = this.started;
                            break;
                        case 'Finished':
                            this.selected = this.finished;
                            break;
                        case 'All':
                            this.selected = this.created.concat(this.started.concat(this.finished))
                            break;
                    }
                    if (this.type.length) {
                        this.filtered = this.selected.filter(a => {
                            return this.type.includes(a.perf.name)
                        });
                    }
                    else {
                        this.filtered = this.selected;
                    }
                },
                clearAll: function () {
                    this.type = [];
                    this.searchtext = '';
                    this.searchBy = 'Name';
                    this.status = 'All';
                    this.filter();
                },
                filterSearch: function () {
                    this.filter();
                    if (this.searchtext.length) {
                        if (this.searchBy == 'Name') {
                            this.filtered = this.filtered.filter(a => {
                                return a.fullName.toLowerCase().includes(this.searchtext.toLowerCase())
                            });
                        }
                        else if (this.searchBy == 'Owner') {
                            this.filtered = this.filtered.filter(a => {
                                return a.createdBy.toLowerCase().includes(this.searchtext.toLowerCase())
                            });
                        }
                    }
                },
            },
            mounted: function () {
                axios.get('https://lichess.org/api/tournament')
                    .then(response => {
                        this.created = response.data.created;
                        this.started = response.data.started;
                        this.finished = response.data.finished;
                        this.selected = this.created.concat(this.started.concat(this.finished));
                        this.filtered = this.selected;
                    })
                    .catch(error => {
                        console.log('Something went wrong: ' + error);
                    });
            }
        });
    </script>
</body>

</html>